body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
#logo {
	width: 7%;
	float: left;
	top: 2%;
	left: 5%;
	position: sticky;
}
nav {
	float: right;
	list-style-type: none;
	width: 50%;
	position: sticky;
	top: 5px;
}
#menu li {
	display: inline-block;
	padding-right: 2%;
	font-size: 10pt;
}
.tuitt-button {
	border: solid #c2195b;
	color: white;
	background-color: #c2195b;
	border-radius: 50px;
	font-size: 8pt;
}
li .tuitt-button{
	padding: 10px;
}
#parent-element {
	/*padding: top right bottom left*/
	height: 450px;
	position: relative;
}

.front-bg {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center;
	margin-top: 50px;
	height: 60vh;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.9;
}
#front-bg-container {
	height: 60vh;
	width: 500px;
	float: right;
	padding-right: 40px;
}
.under-front-bg {
	color: white;
	text-align: right;
	float: right;
}
.front-bg .tuitt-button{
	float: right;
	border: solid #c2195b;
	color: white;
	background-color: #c2195b;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 8pt;
	padding: 10px;
}
#child-one {
	padding: 10px;
	position: sticky;
	top: 10px;
}
.title {
	font-family: 'Zilla Slab', serif;
}
#child-three {
	text-align: center;
}
.under-child-three {
	padding: 0 10%;
	text-align: justify;
}
.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 5% 10%;
	margin-top: 5%;
}
.book_button {
	border: solid #336589;
	color: white;
	background-color: #336589;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 8pt;
	padding: 1%;
	width: 10vw;
}
#footer-child {
	list-style-type: none;
	text-align: center;
}
#footer-child li {
	display: inline-block;
	font-size: 10pt;
	margin: 1% 0;
}